@font-face {
    font-family: 'Maison Neue';
    src: url('MaisonNeue-Demi.eot');
    src: url('MaisonNeue-Demi.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-Demi.woff2') format('woff2'),
        url('MaisonNeue-Demi.woff') format('woff'),
        url('MaisonNeue-Demi.ttf') format('truetype'),
        url('MaisonNeue-Demi.svg#MaisonNeue-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('MaisonNeue-Book.eot');
    src: url('MaisonNeue-Book.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-Book.woff2') format('woff2'),
        url('MaisonNeue-Book.woff') format('woff'),
        url('MaisonNeue-Book.ttf') format('truetype'),
        url('MaisonNeue-Book.svg#MaisonNeue-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('MaisonNeue-Medium.eot');
    src: url('MaisonNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-Medium.woff2') format('woff2'),
        url('MaisonNeue-Medium.woff') format('woff'),
        url('MaisonNeue-Medium.ttf') format('truetype'),
        url('MaisonNeue-Medium.svg#MaisonNeue-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

