// Шрифты

$deafult-font:          'Blinker', sans-serif;
$symbol-font:           'Segoe UI Emoji';

// Размер шрифта

$small-font:            .7rem;

// Цвета

$black-color:           #000;
$dark-gray-color:       #0A0D12;
$gray-color:            #565656;

$white-color: 	        #fff;

$yellow-color:          #FFBB0B;
$orange-color:          #FC6F21;
