@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@0;1&display=swap');

@font-face {
  font-family: 'Segoe UI Emoji';
  src: url('../assets/fonts/SegoeUIEmoji.eot');
  src: url('../assets/fonts/SegoeUIEmoji.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SegoeUIEmoji.woff2') format('woff2'),
  url('../assets/fonts/SegoeUIEmoji.woff') format('woff'),
  url('../assets/fonts/SegoeUIEmoji.ttf') format('truetype'),
  url('../assets/fonts/SegoeUIEmoji.svg#SegoeUIEmoji') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../assets/fonts/MaisonNeue-Demi.eot');
  src: url('../assets/fonts/MaisonNeue-Demi.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/MaisonNeue-Demi.woff2') format('woff2'),
  url('../assets/fonts/MaisonNeue-Demi.woff') format('woff'),
  url('../assets/fonts/MaisonNeue-Demi.ttf') format('truetype'),
  url('../assets/fonts/MaisonNeue-Demi.svg#MaisonNeue-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MaisonNeueBook';
  src: url('../assets/fonts/MaisonNeue-Book.eot');
  src: url('../assets/fonts/MaisonNeue-Book.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/MaisonNeue-Book.woff2') format('woff2'),
  url('../assets/fonts/MaisonNeue-Book.woff') format('woff'),
  url('../assets/fonts/MaisonNeue-Book.ttf') format('truetype'),
  url('../assets/fonts/MaisonNeue-Book.svg#MaisonNeue-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../assets/fonts/MaisonNeue-Medium.eot');
  src: url('../assets/fonts/MaisonNeue-Medium.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/MaisonNeue-Medium.woff2') format('woff2'),
  url('../assets/fonts/MaisonNeue-Medium.woff') format('woff'),
  url('../assets/fonts/MaisonNeue-Medium.ttf') format('truetype'),
  url('../assets/fonts/MaisonNeue-Medium.svg#MaisonNeue-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


