// Шрифты

$deafult-font: 		'Open Sans', sans-serif;
$symbol-font:       'Segoe UI Emoji';

// Цвета

$black-color:           #000;

$gray-color:            #f2f4f5;
$gray_dark-color:       #262626;

$white-color: 	        #fff;

$button-color:          #e8c883;

$link-color:            #ba9246;

$green-color:           #b4d563;
$blue-color:            #2280ce;
$blue_light-color:      #daebf8;