// Шрифты

$header-font:           'Bebas Neue', cursive;
$deafult-font:          'Manjari', sans-serif;
$symbol-font:           'Segoe UI Emoji';

// Размер шрифта

$max-size:              4.5rem;
$middle-size:           1.4rem;
$normal-size:           1.2rem;
$small-size:            .7rem;

// Цвета

$black-color:           #000;
$gray-color:            #2d2d2d;
$middle-gray-color:     #c4c4c4;
$light-gray-color:      #e5e5e5;
$red-gray-color:        #af9d9d;

$white-color: 	        #fff;

$maroon-color:          #a32d1f;
$beige-color:           #f4d7ab;
