header {
  @include shadow(0 1px 2px rgba($black-color, .2));
  @include transition();
  @include transform(translate(0, 200px));

  @extend %font-smoothing;
  @extend %backface-visibility;

  position: fixed;

  top: 0;
  left: 0;

  height: 65px;
  width: 100vw;
  background: $white-color;


  z-index: 3;

  .navigation__list {
    @extend %border-box;

    padding: 0 5px;

    &:last-child {
      &.active {
        pointer-events: none;
      }
    }

    &.active {
      a {
        color: $blue-color;
      }

      ul {
        li {
          pointer-events: all;

          a {
            color: $black-color;

            &:hover {
              color: $blue-color;
            }
          }
        }
      }
    }

    &:hover {
      @include border-radius(20px 20px 0 0);

      background: lighten($blue_light-color, 5%);
    }
  }

  &.header-fixed {
    .logo-nav {
      display: block;
      width: 30px;
      margin-right: 35px;
    }
  }

  .logo-nav {
    @extend %border-box;
    margin-right: 25px;

    display: none;
  }

  form {
    min-width: 220px;

    button {
      @include button-small($gray-color);
    }
  }

  @media only screen and (max-width: 767px), (orientation: portrait) {
    @include transform(translate(0, 240px));
  }

  @media only screen and (max-width: 600px), (orientation: portrait) {
    @include transform(translate(0, 290px));
  }

  .content {
    position: initial;
  }

  &.header-fixed {
    @include transform(translate(0, 0));
  }

  a {
    border-bottom: none;

    &:hover {
      border-bottom: none;
    }
  }

  @media only screen and (max-width: 1024px), (orientation: portrait) {
    .flex_end {
      justify-content: flex-start;
    }
  }

  &.nav-is-visible {
    @include transform(translate(-30%, 0));

    z-index: 99;

    .content {
      .nav-trigger {
        span {
          background: rgba($white-color, 0);

          &::before {
            @include transform(translateY(0) rotate(-45deg));
          }

          &::after {
            @include transform(translateY(0) rotate(45deg));
          }
        }
      }
    }
  }

  &::before {
    display: none;
    content: 'desktop';

    @media only screen and (max-width: 1024px), (orientation: portrait) {
      content: 'mobile';
    }
  }

  &.header-fixed {
    .content {
      nav {
        width: 92%;
      }
    }
  }

  .content {
    nav {
      order: 1;
      width: 87%;
    }

    .eye {
      order: 2;
      border-bottom: none;

      &:hover {
        opacity: .8;
        border-bottom: none;
      }
    }

    .nav-trigger {
      @extend %position-absolute;

      display: block;

      left: auto;
      right: 18px;

      width: 50px;
      height: 100%;

      overflow: hidden;
      white-space: nowrap;
      color: transparent;

      span {
        @extend %position-absolute;
        @include transition(background-color, .3s);

        left: auto;
        top: 50%;

        width: 20px;
        height: 2px;
        background: $black-color;

        margin-left: -10px;

        &::before,
        &::after {
          @include transition(transform, .3s);
          @include transform(translateZ(0));

          @extend %backface-visibility;
          @extend %position-absolute;

          width: 100%;
          height: 100%;

          background: $black-color;
        }

        &::before {
          @include transform(translateY(-6px));
        }

        &::after {
          @include transform(translateY(6px));
        }
      }

      @media only screen and (min-width: 1025px) {
        display: none;
      }

      @media only screen and (max-width: 680px), (orientation: portrait) {
        right: 30px;
      }

      @media only screen and (max-width: 520px), (orientation: portrait) {
        right: 15px;
      }
    }
  }

  .navigation {
    &.moves-out {
      @media only screen and (max-width: 1024px), (orientation: portrait) {
        overflow-y: auto;
      }

      li {
        &.active {
          .subnav-trigger {
            &::before,
            &::after {
              @media only screen and (min-width: 1024px) {
                width: 14px;
                right: 9px;
              }
            }

            &::before {
              @include transform(rotate(225deg));
            }

            &::after {
              @include transform(rotate(135deg));
            }
          }

          .subnav {
            bottom: auto;

            @media only screen and (min-width: 1024px) {
              @include transform(translateY(0));

              border-top: 1px solid $gray-color;

              margin-top: 65px;

              opacity: 1;
              pointer-events: all;
            }

            li {
              padding: 3px 30px 3px 0;

              &:last-child {
                padding-right: 0;
              }

              a {
                padding-top: 0;
              }

              ul {
                @extend %border-box;

                display: block;

                padding-bottom: 0;
                padding-right: 50px;

                &:last-child {
                  padding-right: 0;
                }

                @media only screen and (max-width: 1024px), (orientation: portrait) {
                  padding-bottom: 15px;
                }
              }

              @media only screen and (min-width: 1024px) {
                opacity: 1;
              }

              &.flexbox {
                ul {
                  @media only screen and (max-width: 860px), (orientation: portrait) {
                    width: 100%;
                  }
                }

                &.content {
                  @media only screen and (max-width: 1024px), (orientation: portrait) {
                    width: 100%;
                    padding-right: 10px;
                    padding-top: 20px;
                  }
                }
              }
            }
          }
        }

        a {
          opacity: 0;

          @media only screen and (min-width: 1024px) {
            opacity: 1;

            padding-bottom: 6px;
          }
        }
      }
    }
  }
}

main {
  position: relative;
  content: 'mobile';

  min-height: 100vh;

  z-index: 2;

  &.education,
  &.scientific,
  &.about-main,
  &.clinic.inner-pages {
    @include transform(translate(0, 93px));
  }

  @include transform(translate(0, 64px));
  @include transition();

  &.nv_bttm {
    @include transform(translate(0, 100px));
  }

  &.active {
    @include transform(translate(0, 0));
  }

  @media only screen and (min-width: 1024px) {
    content: 'desktop';

    padding-top: 0;
  }

  &.nav-is-visible {
    @media only screen and (min-width: 1024px) {
    }
  }
}

.no-js {
  header {
    position: relative;
    height: auto;

    .navigation {
      position: static;

      width: 100%;
      height: auto;

      visibility: visible;
      overflow: visible;

      @media only screen and (min-width: 1024px) {
        height: 75px;
      }

      &__list {
        display: inline-block;
      }

      li {
        &:last-child {
          display: block;
        }

        ul,
        div {
          &.subnav {
            position: static;
            width: 100%;

            @media only screen and (min-width: 1024px) {
              top: 75px;
            }
          }

          li {
            opacity: 1;

            &:last-child {
              display: none;
            }
          }
        }
      }
    }
  }

  .nav-trigger,
  .subnav-trigger{
    display: none;
  }

  .go-back {
    display: none;
  }

  main {
    padding-top: 0;
  }
}

.navigation {
  @extend %border-box;

  align-content: flex-start;

  position: fixed;

  top: 6.5px;
  left: 0;

  width: 100vw;
  height: 100vh;


  -webkit-overflow-scrolling: touch;
  visibility: hidden;

  z-index: 9;
  overflow-x: hidden;

  &.nav-is-visible {
    @media only screen and (max-width: 1024px), (orientation: portrait) {
      @include transition();

      @include transform(translate(-30%, 0));
      visibility: visible;
      background: $gray-color;

      .navigation__list {
        @include transform(translate(30%, 0));
      }

      .content {
        padding-top: 20px;
      }

      &.moves-out {
        @include shadow(0 1px 2px rgba(0, 0, 0, 0.2));

        padding: 70px 30px 30px 28%;
        pointer-events: none;

        .navigation__list {
          @include transform(translateX(0%));

          &.active {
            position: absolute;
            height: 100vh;
            width: 70%;

            z-index: 9999;
          }

          .subnav {
            @include transform(translateX(0%));
            @include shadow(none);

            width: 100%;
            padding-left: 15px;
            padding-bottom: 50px;

            overflow: auto;
            pointer-events: all;

            li {
              ul {
                width: 100%;
              }
            }

            .flex-start {
              justify-content: space-between;
            }

            .content {
              width: calc(100% - 30px);
              padding-left: 5px;

              a {
                pointer-events: all;
              }
            }
          }
        }

        li {
          @include transform(translateX(0%));

          a {
            @include transform(translateX(0%));

            opacity: 0;
          }

          .subnav {
            li {
              a {
                @include transform(translateX(0));

                opacity: 1;
              }
            }
          }
        }
      }

      li.active {
        ul.subnav {

          background: $gray-color;

          opacity: 1;

          li {
            ul {
              display: block;
            }
          }
        }
      }
    }
  }

  &__list {
    @extend %border-box;

    height: 100%;

    cursor: pointer;

    @media only screen and (max-width: 1024px), (orientation: portrait) {
      height: auto;
      padding: 0;

      .subnav-trigger {
        &::before,
        &::after {
          right: 26%;
        }
      }
    }

    &:hover {
      a.subnav-trigger {
        color: $blue-color;
      }
    }

    &.active {
      a.subnav-trigger {
        color: $blue-color;
      }
    }

    a {
      @extend %border-box;

      border-bottom: none;

      &:hover {
        border-bottom: none;
      }

      @media only screen and (min-width: 1024px) {

        display: inline-block;

        font-size: 16px;
        text-transform: uppercase;
        line-height: 1;
        font-weight: 600;

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        height: 100%;

        z-index: 1;

        padding: {
          top: 24px;
          left: 1.1em;
          right: 1.1em;
        }

        &:not(.subnav-trigger) {
          &:hover {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
          }
        }
      }
    }

    .subnav {
      a {
        font-size: 14px;
        text-transform: none;
      }
    }

    @media only screen and (max-width: 1024px), (orientation: portrait) {
      width: 100vw;
      padding-bottom: 8px;
    }
  }

  li {
    &:last-child {
      padding-right: 0;
    }

    &.flexbox {
      ul {
        li {
          ul {
            @media only screen and (max-width: 1024px), (orientation: portrait) {
              margin-bottom: 15px;
            }

            li {
              @media only screen and (max-width: 1024px), (orientation: portrait) {
                padding-bottom: 8px;
              }
            }
          }
        }
      }
    }

    &.active {
      ul.subnav {
        pointer-events: all;
      }
    }

    .subnav {
      @include shadow(0 1px 2px rgba($black-color, .2));
      @include transition(transform .3s .2s, opacity .3s .2s);

      @extend %position-absolute;

      width: 100%;
      background: lighten($blue_light-color, 5%);

      padding: 15px 0 20px;

      opacity: 0;

      pointer-events: none;

      @media only screen and (max-width: 1024px), (orientation: portrait) {
        @include transform(translateX(100%));
      }

      @media only screen and (min-width: 1024px) {
        @include transform(translateY(-1500px));
        opacity: 0;
      }

      li {
        @media only screen and (min-width: 1024px) {
          opacity: 0;
        }

        ul {
          li {
            ul {
              @include ul();

              li {
                padding-left: 15px !important;
              }
            }
          }

          display: none;

          text-align: left;
        }
      }
    }
  }

  a {
    display: block;
    height: auto;

    color: $black-color;

    &:hover {
      color: $blue-color;
    }

    &.hidden {
      color: transparent;

      &:hover {
        color: transparent;
      }
    }
  }

  div {
    &.flexbox {
      width: 60%;

      @media only screen and (max-width: 1180px), (orientation: portrait) {
        width: 70%;
      }

      @media only screen and (max-width: 1024px), (orientation: portrait) {
        width: 100%;
      }

      li {
        @media only screen and (max-width: 1024px), (orientation: portrait) {
          margin-bottom: 8px;
          width: 100%;
        }
      }
    }
  }

  .first-li {
    @media only screen and (max-width: 1024px), (orientation: portrait) {
      padding-bottom: 8px;
    }
  }

  .subnav-trigger {
    position: relative;
    padding-right: 1.8em;

    &::before,
    &::after {
      @include nav-arrow();
      @include transform-origin(9px 50%);

      top: 9px;
      left: auto;

      background: $black-color;

      @media only screen and (min-width: 1024px) {
        @include transform-origin(50% 50%);
        @include transition(transform 0.3s, width 0.3s, right 0.3s);

        top: 32px;
        right: 7px;
        bottom: auto;
      }
    }

    &::before {
      @include transform(rotate(45deg));

      @media only screen and (min-width: 1024px) {
        right: 14px;
      }
    }

    &::after {
      @include transform(rotate(-45deg));

      @media only screen and (max-width: 1024px), (orientation: portrait) {
        top: 10px;
      }
    }
  }

  .go-back {
    border-bottom: 1px solid rgba($black-color, .1);

    height: auto;

    padding-bottom: 20px;

    &.content {
      padding-top: 0;
    }

    a {
      position: relative;

      &::before,
      &::after {
        @include nav-arrow();
        @include transform-origin(1px 50%);
      }

      &::before {
        @include transform(rotate(45deg));

        top: 11px;
      }

      &::after {
        @include transform(rotate(-45deg));
      }
    }

    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }

  .placeholder {
    display: none;

    @media only screen and (min-width: 1024px) {
      display: block;
      visibility: hidden;

      opacity: 0;
      pointer-events: none;

      a {

      }
    }
  }

  @media only screen and (min-width: 1024px) {
    position: static;

    width: 100%;
    height: 65px;

    visibility: visible;
  }

  @media only screen and (max-width: 1024px), (orientation: portrait) {
    padding: 85px 50px 30px;
    overflow: hidden;
  }
}

main,
.header {
  &.nav-is-visible {
    @media only screen and (max-width: 1024px), (orientation: portrait) {
      @include transform(translate(70%, 0));
    }
  }
}

.subnav {
  ul {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }
}